@use "../settings/colors";
@use "../settings/sizes";

.navigation {
  margin-left: auto;
  margin-right: 0;

  &__hamburger {
    appearance: none;
    background-color: transparent;
    border: none;
    font-size: 0;
    position: relative;
    width: 3rem;
    height: 3rem;
    z-index: 30;

    &::before,
    &::after,
    span {
      content: "";
      display: block;
      background-color: colors.$color-white;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.2s ease-in-out;
      transition-delay: 0;
      width: 2.375rem;
      height: 0.1875rem;
      right: 0;
    }

    &::before {
      top: 30%;
    }

    &::after {
      top: 70%;
    }

    &--open {
      &::before {
        top: 1.25rem;
        transform: rotate(40deg) translateY(0.625rem);
      }

      &::after {
        top: 2.25rem;
        transform: rotate(-40deg) translateY(-0.75rem);
      }

      span {
        display: none;
      }
    }
  }

  &__list {
    display: none;
  }

  &__ctas {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &--open {
    background-color: colors.$color-primary;
    color: colors.$color-white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;

    .navigation {
      &__list,
      &__ctas {
        padding: 0 2rem;
        width: 100%;

        a {
          font-size: 2.5rem;
          padding: 0;
        }
      }

      &__list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;
        padding: 0 2rem;
        margin: 0 0 1rem;
      }

      &__ctas {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
      }
    }
  }

  @media screen and (min-width: sizes.$tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
    flex-grow: 1;
    z-index: 10;

    &__hamburger {
      display: none;
    }

    &__list,
    &__ctas {
      a {
        font-size: 1.125rem;
      }
    }

    &__list {
      gap: 3rem;
      display: flex;
      margin-left: 4rem;
      padding: 0;
      list-style: none;
    }

    &__ctas {
      gap: 2rem;
    }
  }
}
