@use "../../settings/colors";
@use "../../settings/sizes";

.logo {
  color: colors.$color-white;
  display: inline-flex;
  width: 9rem;
  height: 3rem;
  z-index: 30;

  path {
    display: none;

    &:nth-child(1) {
      display: block;
    }
  }

  @media screen and (min-width: sizes.$tablet) {
    height: 2.9375rem;

    path {
      display: block;
    }
  }
}
